<?xml version="1.0" encoding="UTF-8" standalone="no"?><plist version="1.0">

<dict>
	<key>CFBundleExecutable</key>
		<string>borochi</string>

	<key>CFBundleGetInfoString</key>
		<string>borochi browser</string>

	<key>CFBundleIconFile</key>
		<string>borochi.icns</string>

	<key>CFBundleIdentifier</key>
		<string>io.cherrybomb.borochi</string>

	<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>

	<key>CFBundleName</key>
		<string>borochi</string>

	<key>CFBundlePackageType</key>
		<string>APPL</string>

	<key>CFBundleShortVersionString</key>
		<string>0.2.0</string>

	<key>CFBundleSignature</key>
		<string>????</string>

	<key>CFBundleVersion</key>
		<string>0.2.0</string>

	<key>NSHighResolutionCapable</key>
		<true/>

	<key>CFBundleDevelopmentRegion</key>
		<string>English</string>

	<key>CFBundleLocalizations</key>
		<array>
			<string>en</string>
		</array>

	<key>CFBundleDisplayName</key>
    <string>borochi</string>

</dict>

</plist>
